useDynLib(RcppAlgos, .registration = TRUE)
import(gmp, methods)

S3method("[[", "Combo")
S3method("[[", "ComboApply")
S3method("[[", "ComboRes")
S3method("[[", "Partitions")

export(
  comboGeneral,
  permuteGeneral,
  partitionsGeneral,
  compositionsGeneral,
  comboCount,
  permuteCount,
  partitionsCount,
  compositionsCount,
  comboSample,
  permuteSample,
  partitionsSample,
  compositionsSample,
  comboRank,
  permuteRank,
  partitionsRank,
  compositionsRank,
  comboGroups,
  comboGroupsCount,
  comboGroupsSample,
  comboGrid,
  comboIter,
  permuteIter,
  partitionsIter,
  compositionsIter,
  primeSieve,
  eulerPhiSieve,
  primeFactorizeSieve,
  numDivisorSieve,
  divisorsSieve,
  primeFactorize,
  divisorsRcpp,
  isPrimeRcpp,
  primeCount,
  stdThreadMax
)
