useDynLib("RcppAlgos", .registration = TRUE)

importFrom("Rcpp", "evalCpp")

export(comboGeneral,
       permuteGeneral,
       primeSieve,
       eulerPhiSieve,
       primeFactorizeSieve,
       numDivisorSieve,
       divisorsSieve,
       primeFactorize,
       divisorsRcpp,
       isPrimeRcpp,
       primeCount)
