useDynLib("RcppAlgos", .registration = TRUE)

importFrom("Rcpp", evalCpp)
import(gmp)

export(comboGeneral,
       permuteGeneral,
       comboCount,
       permuteCount,
       comboSample,
       permuteSample,
       primeSieve,
       eulerPhiSieve,
       primeFactorizeSieve,
       numDivisorSieve,
       divisorsSieve,
       primeFactorize,
       divisorsRcpp,
       isPrimeRcpp,
       primeCount)
